[submodule "paho.mqtt.c"]
	path = paho.mqtt.c
	url = https://github.com/eclipse/paho.mqtt.c
[submodule "routez"]
	path = routez
	url = https://github.com/Vexu/routez
[submodule "zig-tracy"]
	path = zig-tracy
	url = https://github.com/nektro/zig-tracy
[submodule "tracy"]
	path = tracy
	url = https://github.com/wolfpld/tracy
[submodule "zig-clap"]
	path = zig-clap
	url = https://github.com/Hejsil/zig-clap
[submodule "zig-toml"]
	path = zig-toml
	url = https://github.com/aeronavery/zig-toml
